<?xml version="1.0"?>
<!-- /**
 * Magiccart 
 * @category    Magiccart 
 * @copyright   Copyright (c) 2014 Magiccart (http://www.magiccart.net/) 
 * @license     http://www.magiccart.net/license-agreement.html
 * @Author: DOng NGuyen<nguyen@dvn.com>
 * @@Create Date: 2016-02-23 18:59:34
 * @@Modify Date: 2016-04-22 17:17:02
 * @@Function:
 */ -->
 
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
	    <resources>
	        <resource id="Magento_Backend::admin">
	        	<resource id="BmsIndia_Report::bms" title="BMS India" sortOrder="10">
	        	    <resource id="BmsIndia_Report::bmsreport" title="Report" sortOrder="10">
	        	        <resource id="BmsIndia_Report::rpt" title="Report" sortOrder="10" />
	        	    </resource>
	        	</resource>
	        </resource>
	    </resources>
	</acl>
</config>
